<div *ngIf="user.typeOfUser == 'Admin'">
  <app-navbar-admin></app-navbar-admin>
</div>
<div *ngIf="user.typeOfUser == 'Deliverer'">
  <app-navbar-deliverer></app-navbar-deliverer>
</div>
<div *ngIf="user.typeOfUser == 'Customer'">
  <app-navbar-customer></app-navbar-customer>
</div>


  <div class="container">
    <div class="edit-container">  
      <form [formGroup]="editForm">
        <img class="avatar" src="../assets/images/download6.png">
        <h1>Edit Profile</h1>
        <hr>
  
        <img  src="../assets/images/Person.jpg" alt="..." class="rounded-circle registration_image" *ngIf="hasImage == false && newImage == '' ">
        <img #im [src]="image" alt="..." class="rounded-circle registration_image" *ngIf="hasImage != false && newImage == ''">
        <img [src]="newImage" alt="..." class="rounded-circle registration_image" *ngIf="newImage != '' ">
        <div class="input-div">
          <input type="file"  accept="image/*"  (change)="onSelectImage($event)"/>
        </div>
    

        <div class="input-div one">
        <h5>Username</h5>
        <input type="text" [(ngModel)]="user.username"  placeholder="{{user.username}}" value={{user.username}} name="username" id="username" formControlName="username" readonly>
        </div>  
        <p class="error-message">{{getUsernameErrorMessage()}}</p>

        <div class="input-div two">
        <h5>Email</h5>
        <input type="text" [(ngModel)]="user.email" placeholder="{{user.email}}" value={{user.email}} name="email" id="email" formControlName="email" readonly>
        </div>    

        <div class="input-div three">
        <h5>Password</h5>
        <input type="password" [(ngModel)]="pass" placeholder="{{pass}}" value={{pass}} name="password" id="password" formControlName="password">
        </div>
        <p class="error-message">{{getPasswordReqErrorMessage()}}</p>
      <p class="error-message">{{getPasswordErrorMessage()}}</p>

        <div class="input-div four">
        <h5>Repeat Password</h5>
        <input type="password" [(ngModel)]="passR" placeholder="{{passR}}" value={{passR}} name="psw-repeat" id="psw-repeat" formControlName="passwordRepeat">
        </div> 
        <p class="error-message">{{getSecondPasswordErrorMessage()}}</p>

        <div class="input-div five">
        <h5>Name</h5>
        <input type="text" [(ngModel)]="user.name" placeholder="{{user.name}}" value={{user.name}} name="name" id="name" formControlName="name">
        </div>  
        <p class="error-message">{{getNameErrorMessage()}}</p>

        <div class="input-div six">
        <h5>Last Name</h5>
        <input type="text" [(ngModel)]="user.lastName" placeholder="{{user.lastName}}" value={{user.lastName}} name="lastName" id="LastName" formControlName="lastName">    
        </div>  
        <p class="error-message">{{getLastNameErrorMessage()}}</p>

        <div class="input-div seven">
        <h5>Adress</h5>
        <input type="text" [(ngModel)]="user.address" placeholder="{{user.address}}" value={{user.address}} name="address" id="address" formControlName="address">
        </div>
        <p class="error-message">{{getAddressErrorMessage()}}</p>

        <div class="input-div eight">
        <h5>Date Od Birth</h5>
        <input type="date" [(ngModel)]="user.dateOfBirth" placeholder="{{user.dateOfBirth}}" value="user.dateOfBirth" name="birthDate" id="birthDate" formControlName="dateOfBirth">
        </div>
        <p class="error-message">{{getDateErrorMessage()}}</p>

        <div class="input-div nine">
        <div *ngIf="user.typeOfUser == 'Deliverer'">
          <h5>Deliverers statuss:</h5>
          <input type="text" [(ngModel)]="user.status" [ngModelOptions]="{standalone: true}" placeholder="{{user.status}}" value="{{user.status}}" name="status" id="status" readonly>
        </div>
      </div>
        <hr>
           
        <button type="submit" class="registerbtn" (click)="OnSubmitChanges()">Save Shanges</button>

    </form>
    </div>
  </div>
  