
.col-md-6{
    height: 500px;
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: 100px;
    width:30rem;
}

.list-group-item{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    background-color: rgba(0,0,0,0.7) !important;    
}

strong{
    color: white;
}

li{
    color: white;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;    
}

button{
    border-radius: 25px;
    width: 50%;
    height: 30px;
    border: none;
    margin-left: 4.5rem;
    background-image: linear-gradient(to right, #003503, #1ee01e, #59ff38);
    color: rgb(255, 252, 56);
}

input{
    background-color: rgba(0,0,0,0.5) !important;
    border: 0 !important;
    border-radius: 5px;
    color: white;    

}

.pomocna{
    margin-top: 10px;
}

/*///////////////////////////////*/
  /*
td, th {

    background-color: rgba(0,0,0,0.5) !important;  
    border: 1px solid darkgray;
    height: 50px;
    text-align: left;
    padding: 8px;
    color: white;
  }
*/

/*
input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} 
*/